<html>

<head>
  <title>BIOCOIN</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="nav-bar">
  Bio Coin
</div>

<div ng-app="bioApp" class="page">
  <div ng-controller="submitCtrl" class="query-form">
    <label>
      Upload an image
    </label>
    <div class="image-array">
      <div class="image-box">
        <i class="fas fa-plus"></i>
      </div>
      <div class="image-box">
        <i class="fas fa-plus"></i>
      </div>
      <div class="image-box">
        <i class="fas fa-plus"></i>
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="form-group">
      <label for="">Select a category</label>
      <select ng-options="category as category for category in categories" ng-model="selectedCategory"></select>
    </div>
    <div class="form-group">
      <label for="guess-name">Guess a name</label>
      <input ng-model="name" id="guess-name" class="sample-input" type="text"/>
    </div>

    <div class="form-group">
      <label for="user-id">User ID</label>
      <input ng-model="userID" id="user-id" class="sample-input" type="text"/>
    </div>


    <button ng-click="submit()">submit</button>
    <button>cancel</button>
  </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/eosjs@16.0.0/lib/eos.min.js"
        integrity="sha512-vNyLnOEb7uFmEtVbLnyZQ9/k4zckM2Vu3jJOKq6XfWEVZG0yKcjDExVN4EQ7e3F+rePWRncMolI2xFi/3qo62A=="
        crossorigin="anonymous"></script>

<script src="eosactions.js"></script>
<script>
    // eos = Eos({
    //     chainId: 'cf057bbfb72640471fd910bcb67639c22df9f92470936cddc1ade0e2f2e7dc4f', // 32 byte (64 char) hex string
    //     keyProvider: ['5KbYnXiRxDqaej7qP7A6Pji3ZNiwaFiYRGayGRtHLk8jTFvGCdN'], // WIF string or array of keys..
    //     httpEndpoint: 'http://172.16.97.1:8888',
    //     expireInSeconds: 60,
    //     broadcast: true,
    //     verbose: false, // API activity
    //     sign: false
    // });
    //

</script>

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<script src="/node_modules/angular/angular.js"></script>
<script src="app.js"></script>


</body>

</html>