<html ng-app="bioApp">

<head>

  <title>BIOCOIN</title>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body ng-controller='indexPageCtrl'>

<div class="nav-bar">
<nav class="navbar navbar-default">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="background-color: #09091A; border: none;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="bio-brand" href="#">BioCoin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse bio-style-nav" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav left-margin">
        <li ng-class="{ active: isActive('/') }"><a href="#">Requests<span class="sr-only">(current)</span></a></li>
        <li ng-class="{ active: isActive('/user/profile') }"><a ng-click="goToProfile()" >Profile</a></li>
        <li ng-class="{ active: isActive('/user/submit') }"><a ng-click="goToSubmit()">Submit</a></li>
        <li ng-class="{ active: isActive('/expert/jobs') }"><a ng-click="goToJobs()">Jobs</a></li>
        <li ng-class="{ active: isActive('/user/leaderboard') }"><a ng-click="goToLeaderboard()">Leaderboard</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

</nav>
</div>
<div class="container">
<ng-view></ng-view>
</div>

<script src="config.js"></script>
<script src="https://cdn.jsdelivr.net/npm/eosjs@16.0.0/lib/eos.min.js"
        integrity="sha512-vNyLnOEb7uFmEtVbLnyZQ9/k4zckM2Vu3jJOKq6XfWEVZG0yKcjDExVN4EQ7e3F+rePWRncMolI2xFi/3qo62A=="
        crossorigin="anonymous"></script>

<script src="eosactions.js"></script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="/node_modules/angular/angular.js"></script>
<script src="/node_modules/angular-route/angular-route.min.js"></script>
<script src="app.js"></script>
<script src="route.js"></script>

<script src="upload.js"></script>
</body>

</html>
