<div ng-controller="jobsPageCtrl">
  <div class="bio-table-container">
    <table class="table">
      <tr>
        <th>user_id</th>
        <th>sample_name</th>
        <th>category</th>

        <th>status</th>
        <th>weight</th>
        <th>target weight</th>
      </tr>
      <tr ng-click="goToVerify(row.id)" ng-repeat="row in rows">
        <td>{{row.user_id}}</td>
        <td>{{row.sample_name}}</td>
        <td>{{row.sample_category}}</td>

        <td>{{statusNames[row.status]}}</td>
        <td>{{row.weight}}</td>
        <td>{{row.target_weight}}</td>
      </tr>
    </table>
  </div>
</div>