<div class="page">
  <div ng-controller="submitCtrl" class="query-form">
    <label class="bio-header">
      Upload an image
    </label>

      <div class="image-box">
        <input id="myFileInput" class="theInputFile" type="file" accept="image/*;capture=camera">
        <i ng-show="!fileName" class="fas fa-plus"></i>
        <img ng-if="fileName" ng-src="{{fileName}}" alt="">
      </div>


    <div class="form-group">
      <label for="">Select a category</label>
      <select class="bio-select" ng-options="category as category for category in categories" ng-model="selectedCategory"></select>
    </div>
    <div class="form-group">
      <label for="guess-name">Guess a name</label>
      <input class="bio-input" ng-model="name" id="guess-name" class="sample-input" type="text"/>
    </div>



    <button class="bio-button pull-right bio-button-ok" ng-click="submit()">Submit</button>
    <button class="bio-button bio-button-cancel" ng-click="cancel()">cancel</button>
  </div>


</div>